# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/maven-wrapper-downloader.jar
.mvn/wrapper/maven-wrapper.jar

# IntelliJ / Eclipse / VSCode
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# Logs
*.log
*.out

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar
*.pid

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
terraform.tfvars

# Jenkins
workspace/
